*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
--head: #009688;
--dark: #6B7376;
--lightblue: #8EDAFC;
--soft-dark: #B1B1B1;
--lightgreen: #D5F9BA;
--primary: #D9DBD5;
--lightuser: #E9EBEB;
--lighthead: #EAEAEA;
--bg-icon: #F3EEEA;

}

img {
    max-width: 100%;
}

/* #region DEBUG */
.debug #site_header {
    height: 100px;
}

.debug #site_main {
    height: 300px;
}
/* #endregion DEBUG */


#site_header {
    background-color: var(--head);
    height: 100px;

}

#site_main {
    background-color: var(--primary);
    height: calc(100vh - 100px);
}

.wrapper {
    position: relative;
    top: -20%;
}

.user_me, .user_friend, .icon_more  {
    background-color: var(--lightuser);
}

.user_me, .user_friend {
    width: 100%;
}

.icon_me{
    border-radius: 50%;
    width: 50px;
}

.icon_friend {
    border-radius: 50%;
    width: 50px;
}

.user_me > span, .user_friend > span {
    font-size: 12px;
}

.icon_more i {
    color: var(--soft-dark);
}

.user_friend {
    border-left: 1px solid var(--primary);
}

.notice {
    background-color: var(--lightblue);
}

.notice > i {
    padding: 1rem;
    background-color: white;
    border-radius: 50%;
    color: var(--lightblue);
}

.active_notice h6, .active_notice a {
    font-size: 14px;
}